.excalidraw {
  .follow-mode {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    border: 2px solid #3887BE;
    z-index: 9999;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__badge {
      background-color: #3887BE;
      color: #ddd;
      padding: 0.25rem 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      pointer-events: all;
      font-size: 0.75rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      &__label {
        display: flex;
        white-space: pre-wrap;
        line-height: 1;
      }

      &__username {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }
    }

    &__disconnect-btn {
      all: unset;
      cursor: pointer;
      border-radius: 0.25rem;

      &:hover {
        background-color: #212121;
      }

      &:active {
        background-color: #212121;
      }

      svg {
        display: block;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
