@import "../../css/variables.module.scss";

.excalidraw {
  .collab-button {
    --button-bg: #3887BE;
    --button-color: #ddd;
    --button-border: #3887BE;

    --button-width: var(--lg-button-size);
    --button-height: var(--lg-button-size);

    --button-hover-bg: #3887BE;
    --button-hover-border: #212121;

    --button-active-bg: #3887BE;

    box-shadow: 0 0 0 1px #000;

    flex-shrink: 0;

    // double .active to force specificity
    &.active.active {
      background-color: #3887BE;
      border-color: #3887BE;

      svg {
        color: #fff;
      }

      &:hover,
      &:active {
        background-color: #3887BE;
        border-color: #3887BE;
      }
    }
  }

  .CollabButton.is-collaborating {
    background-color: #3887BE;

    .ToolIcon__icon svg,
    .ToolIcon__label {
      color: #ddd;
    }
  }

  .CollabButton-collaborators {
    :root[dir="ltr"] & {
      right: -5px;
    }
    :root[dir="rtl"] & {
      left: -5px;
    }
    min-width: 1em;
    min-height: 1em;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    padding: 3px;
    border-radius: 50%;
    background-color: #3887BE;
    color: #ddd;
    font-size: 0.6rem;
    font-family: "Cascadia";
  }
}
