@import "../css/variables.module.scss";

.excalidraw {
  .FixedSideContainer {
    position: absolute;
    pointer-events: none;
  }

  .FixedSideContainer > * {
    pointer-events: var(--ui-pointerEvents);
  }

  .FixedSideContainer_side_top {
    left: var(--editor-container-padding);
    top: var(--editor-container-padding);
    right: var(--editor-container-padding);
    bottom: var(--editor-container-padding);
    z-index: 2;
  }

  .FixedSideContainer_side_top.zen-mode {
    right: 42px;
  }
}
